## Importing the Essentials

In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [14]:
df = pd.read_csv('heart_disease.csv')

In [15]:
df.columns

Index(['Age', 'Gender', 'Blood Pressure', 'Cholesterol Level',
       'Exercise Habits', 'Smoking', 'Family Heart Disease', 'Diabetes', 'BMI',
       'High Blood Pressure', 'Low HDL Cholesterol', 'High LDL Cholesterol',
       'Alcohol Consumption', 'Stress Level', 'Sleep Hours',
       'Sugar Consumption', 'Triglyceride Level', 'Fasting Blood Sugar',
       'CRP Level', 'Homocysteine Level', 'Heart Disease Status'],
      dtype='object')

In [16]:
df.rename(columns = (lambda x : x.replace(' ','_')) ,inplace=True)

In [17]:
print(df.shape)
print(df.info())

(10000, 21)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Age                   9971 non-null   float64
 1   Gender                9981 non-null   object
 2   Blood_Pressure        9981 non-null   float64
 3   Cholesterol_Level     9970 non-null   float64
 4   Exercise_Habits       9975 non-null   object
 5   Smoking               9975 non-null   object
 6   Family_Heart_Disease  9979 non-null   object
 7   Diabetes              9970 non-null   object
 8   BMI                   9978 non-null   float64
 9   High_Blood_Pressure   9974 non-null   object
 10  Low_HDL_Cholesterol   9975 non-null   object
 11  High_LDL_Cholesterol  9974 non-null   object
 12  Alcohol_Consumption   7414 non-null   object
 13  Stress_Level          9978 non-null   object
 14  Sleep_Hours           9975 non-null   float64
 15  Sugar_Consumption     9970 non-null   object
 16  Triglyceride_Level    9974 non-null   float64
 17  Fasting_Blood_Sugar   9978 non-null   float64
 18  CRP_Level             9974 non-null   float64
 19  Homocysteine_Level    9980 non-null   float64
 20  Heart_Disease_Status  10000 non-null  object
dtypes: float64(9), object(12)
memory usage: 1.6+ MB
None

In [18]:
print(df.isnull().sum())
print(df.duplicated())

Age                       29
Gender                    19
Blood_Pressure            19
Cholesterol_Level         30
Exercise_Habits           25
Smoking                   25
Family_Heart_Disease      21
Diabetes                  30
BMI                       22
High_Blood_Pressure       26
Low_HDL_Cholesterol       25
High_LDL_Cholesterol      26
Alcohol_Consumption     2586
Stress_Level              22
Sleep_Hours               25
Sugar_Consumption         30
Triglyceride_Level        26
Fasting_Blood_Sugar       22
CRP_Level                 26
Homocysteine_Level        20
Heart_Disease_Status       0
dtype: int64
0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Length: 10000, dtype: bool

Many data are missing almost all the cols

In [19]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Age,9971.0,49.296259,18.193970,18.000000,34.000000,49.000000,65.000000,80.000000
Blood_Pressure,9981.0,149.757740,17.572969,120.000000,134.000000,150.000000,165.000000,180.000000
Cholesterol_Level,9970.0,225.425577,43.575809,150.000000,187.000000,226.000000,263.000000,300.000000
BMI,9978.0,29.077269,6.307098,18.002837,23.658075,29.079492,34.520015,39.996954
Sleep_Hours,9975.0,6.991329,1.753195,4.000605,5.449866,7.003252,8.531577,9.999952
Triglyceride_Level,9974.0,250.734409,87.067226,100.000000,176.000000,250.000000,326.000000,400.000000
Fasting_Blood_Sugar,9978.0,120.142213,23.584011,80.000000,99.000000,120.000000,141.000000,160.000000
CRP_Level,9974.0,7.472201,4.340248,0.003647,3.674126,7.472164,11.255592,14.997087
Homocysteine_Level,9980.0,12.456271,4.323426,5.000236,8.723334,12.409395,16.140564,19.999037

No visible outliers

In [20]:
df.head()

,Age,Gender,Blood_Pressure,Cholesterol_Level,Exercise_Habits,Smoking,Family_Heart_Disease,Diabetes,BMI,High_Blood_Pressure,...,High_LDL_Cholesterol,Alcohol_Consumption,Stress_Level,Sleep_Hours,Sugar_Consumption,Triglyceride_Level,Fasting_Blood_Sugar,CRP_Level,Homocysteine_Level,Heart_Disease_Status
0,56.0,Male,153.0,155.0,High,Yes,Yes,No,24.991591,Yes,...,No,High,Medium,7.633228,Medium,342.0,NaN,12.969246,12.387250,No
1,69.0,Female,146.0,286.0,High,No,Yes,Yes,25.221799,No,...,No,Medium,High,8.744034,Medium,133.0,157.0,9.355389,19.298875,No
2,46.0,Male,126.0,216.0,Low,No,No,No,29.855447,No,...,Yes,Low,Low,4.440440,Low,393.0,92.0,12.709873,11.230926,No
3,32.0,Female,122.0,293.0,High,Yes,Yes,No,24.130477,Yes,...,Yes,Low,High,5.249405,High,293.0,94.0,12.509046,5.961958,No
4,60.0,Male,166.0,242.0,Low,Yes,Yes,Yes,20.486289,Yes,...,No,Low,High,7.030971,High,263.0,154.0,10.381259,8.153887,No

### Cheking for any type of unusual type of data

In [22]:
for col in df:
    print(f'{col} : {df[col].unique()}')
    print('-'* 50)

Age : [56. 69. 46. 32. 60. 25. 78. 38. 75. 36. 40. 28. 41. 70. 53. 57. 20. 39.
 19. 61. 47. 55. 77. 50. 29. 42. 66. 44. 76. 80. 59. 45. 33. 79. 64. 68.
 72. 74. 54. 24. 26. 35. 21. 31. 67. 43. 37. 52. 34. 23. 71. 51. 27. 48.
 65. 62. 58. 18. 22. 30. 49. 73. 63. nan]
--------------------------------------------------
Gender : ['Male' 'Female' nan]
--------------------------------------------------
Blood_Pressure : [153. 146. 126. 122. 166. 152. 121. 161. 135. 144. 179. 134. 143. 150.
 133. 173. 125. 136. 137. 139. 170. 159. 158. 171. 151. 163. 128. 165.
 129. 168. 155. 142. 127. 132. 176. 141. 160. 154. 164. 138. 149. 178.
 140. 147.  nan 175. 162. 157. 174. 123. 145. 124. 148. 169. 172. 167.
 131. 120. 177. 130. 180. 156.]
--------------------------------------------------
Cholesterol_Level : [155. 286. 216. 293. 242. 257. 175. 187. 291. 252. 191. 296. 215. 290.
 255. 245. 219. 246. 268. 300. 223. 206. 259. 228. 185. 278. 152. 163.
 183. 218. 253. 178. 197. 243. 266. 287. 281. 224. 177. 270. 158. 283.
 272. 198. 240. 274. 225. 299. 298. 182. 202. 189. 167. 162. 254. 280.
 151. 284. 292. 288. 277. 176. 170. 157. 232. 204. 199. 261. 295. 179.
 188. 265. 289. 208. 230. 226. 221. 165. 229. 201. 233. 276. 247. 267.
 159. 294. 238. 153. 169. 193. 172. 196. 244. 271. 262. 200. 241. 161.
 269. 212. 211. 258. 195. 160. 222.  nan 256. 231. 263. 168. 273. 235.
 186. 279. 282. 213. 156. 171. 236. 184. 214. 192. 217. 203. 210. 260.
 237. 227. 190. 205. 249. 150. 251. 154. 297. 194. 209. 264. 174. 248.
 250. 285. 173. 207. 234. 166. 220. 164. 275. 239. 180. 181.]
--------------------------------------------------
Exercise_Habits : ['High' 'Low' 'Medium' nan]
--------------------------------------------------
Smoking : ['Yes' 'No' nan]
--------------------------------------------------
Family_Heart_Disease : ['Yes' 'No' nan]
--------------------------------------------------
Diabetes : ['No' 'Yes' nan]
--------------------------------------------------
BMI : [24.99159109 25.22179852 29.85544714 ... 26.89991089 34.96402562
 25.11129452]
--------------------------------------------------
High_Blood_Pressure : ['Yes' 'No' nan]
--------------------------------------------------
Low_HDL_Cholesterol : ['Yes' 'No' nan]
--------------------------------------------------
High_LDL_Cholesterol : ['No' 'Yes' nan]
--------------------------------------------------
Alcohol_Consumption : ['High' 'Medium' 'Low' nan]
--------------------------------------------------
Stress_Level : ['Medium' 'High' 'Low' nan]
--------------------------------------------------
Sleep_Hours : [7.63322838 8.74403397 4.44044012 ... 4.43676208 8.5263287  5.65939429]
--------------------------------------------------
Sugar_Consumption : ['Medium' 'Low' 'High' nan]
--------------------------------------------------
Triglyceride_Level : [342. 133. 393. 293. 263. 126. 107. 228. 317. 199. 231. 109. 196. 178.
 343. 397. 212. 384. 346. 290. 380. 312. 102. 257. 180. 233. 176. 396.
 179. 292. 300. 220. 341. 277. 248. 170. 250. 388. 120. 268. 329. 184.
 377. 152. 378. 121. 197. 338. 187. 399. 221. 130. 110. 194. 151. 124.
 143. 240. 118. 288. 319. 253.  nan 269. 278. 308. 224. 217. 362. 123.
 116. 285. 369. 307. 375. 148. 245. 383. 111. 183. 296. 391. 214. 387.
 249. 274. 386. 129. 310. 236. 222. 365. 349. 316. 283. 381. 314. 195.
 229. 266. 360. 311. 159. 215. 139. 303. 158. 347. 227. 101. 140. 165.
 315. 137. 128. 204. 299. 149. 167. 234. 209. 202. 190. 132. 389. 258.
 328. 320. 279. 131. 374. 244. 113. 337. 203. 117. 122. 368. 331. 160.
 185. 273. 340. 193. 255. 210. 247. 150. 213. 235. 259. 313. 271. 295.
 366. 363. 359. 173. 136. 241. 379. 371. 115. 157. 262. 325. 260. 156.
 302. 367. 372. 357. 304. 112. 286. 356. 186. 232. 332. 355. 275. 153.
 230. 177. 330. 105. 146. 181. 106. 182. 242. 211. 174. 144. 336. 353.
 164. 385. 301. 226. 265. 135. 339. 261. 155. 169. 166. 239. 305. 351.
 251. 256. 207. 309. 188. 147. 370. 254. 318. 225. 358. 321. 350. 192.
 394. 252. 294. 284. 400. 127. 154. 264. 208. 272. 246. 345. 171. 398.
 119. 103. 145. 218. 382. 191. 108. 395. 392. 161. 335. 287. 297. 219.
 125. 361. 172. 291. 141. 373. 334. 206. 298. 189. 134. 281. 175. 104.
 344. 100. 306. 276. 322. 142. 354. 327. 376. 114. 205. 267. 200. 168.
 223. 333. 289. 364. 162. 390. 198. 352. 280. 238. 326. 243. 282. 201.
 324. 163. 138. 348. 237. 323. 270. 216.]
--------------------------------------------------
Fasting_Blood_Sugar : [ nan 157.  92.  94. 154.  91.  85. 111. 103.  96. 139. 142. 102. 124.
 155. 160. 132. 106. 144. 135.  80. 116. 122. 146. 126. 101.  95. 151.
  90. 104. 129.  86.  89.  84.  82. 110. 112. 127. 134.  99. 131.  98.
  97. 159. 153. 149.  87. 147. 114. 119. 100. 128. 130. 109. 125. 121.
 118. 138. 140. 156. 133. 117. 141. 108. 136. 107. 143. 145. 152.  88.
 113. 148. 120. 150. 137.  83.  93. 105. 123. 115. 158.  81.]
--------------------------------------------------
CRP_Level : [12.96924569  9.3553894  12.70987253 ...  4.40886701  7.21563394
 14.38780982]
--------------------------------------------------
Homocysteine_Level : [12.3872504  19.29887548 11.23092568 ...  9.49242901 11.87348585
  6.20853115]
--------------------------------------------------
Heart_Disease_Status : ['No' 'Yes']
--------------------------------------------------